<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.pointMapper">

<update id="updatePoint" parameterType="Map">
  UPDATE user
  SET point = point + #{amount}
  WHERE user_id = #{uid}
</update>

<update id="decreaseIfEnough" parameterType="Map">
  UPDATE user
  SET point = point - #{amount}
  WHERE user_id = #{uid}
  AND point >= #{amount}
</update>

<insert id="insertPointRecord" parameterType="Map">
  INSERT INTO point_charge(user_id, point_charge_amount, point_charge_order_number)
  VALUES (#{uid}, #{amount}, #{uuid})
</insert>

<select id="selectPointRecordById" parameterType="Map" resultType="org.puppit.model.dto.PointDTO">
    SELECT charge_id, user_id, point_charge_amount, point_charge_order_number, point_charge_charged_at
    FROM point_charge
    WHERE user_id = #{userId}
    ORDER BY point_charge_charged_at DESC
  </select>
  
</mapper>