<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.mapper.userMapper">


  <!-- Mapper 작성 규칙 
    1.쿼리 id는 각 쿼리를 호출할 메소드의 이름과 동일하게 설정하는 것을 권장한다. 
    2. parameterType : 메소드가 쿼리로 전달하는 데이터의 타입이다. TypeAlias를 사용 할 수 있다. 
    3. resultType : 쿼리문이 메소드로 반환하는 값의 타입이다. <select> 태그만 작성 한다.
   -->

  <!-- 회원가입 -->
  <insert id="userSignUp" parameterType="UserDTO">
     INSERT INTO user (user_id, account_id, user_name, nick_name, user_password, salt, user_email, user_phone, created_at)
     VALUES (#{userId}, #{acoountId}, #{userName}, #{nickName}, #{userPassword}, #{salt}, #{userEmail}, #{userPhone}, #{createdAt})
  </insert>
  
  <!-- 아이디 중복 검사 -->
  <select id="countByLoginId" parameterType="String" resultType="Integer">
    SELECT COUNT(*)
      FROM user
     WHERE account_id = #{accountId}
  </select>
  
  <!-- 로그인(아이디) -->
  <select id="getUserById" parameterType="String" resultType="UserDTO">
    SELECT account_id, user_password, salt 
      FROM user
     WHERE account_id = #{accountId}
  </select>
  
  <!-- account_id, password, user_email 검증, 중복확인, 조회 -->
  <select id="findUserInfo" parameterType="String" resultType="UserDTO">
    SELECT account_id, user_password, user_email, nick_name
      FROM user
     WHERE account_id = #{accountId}
  </select>
</mapper>